---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import 'sassy-grid';
@import 'jockstrap';

section.container--instagram{
	padding-bottom: 0;
	h1{
		small{
			font-size: 0.5em;
			color: lighten($base-colour, 40);
		}
	}
	.pic-feed{
		background-color: #ffeded;

		a{
			img{
				-webkit-filter: grayscale(1) opacity(0.4);
  				filter: grayscale(1) opacity(0.4);
  				transition: filter, -webkit-filter 0.2s linear;
			}

			&:hover,
			&:focus,
			&:active{
				img{
					-webkit-filter: grayscale(0) opacity(1);
  					filter: grayscale(0) opacity(1);
  				}
			}
		}
	}
}

.grid-points article{
	text-align: center;

	i.fa{
		padding-top: 2rem;
		font-size: 10rem;
	}
	h1{
		font-size: 1.5rem;
	}

	p{
		strong{
			font-weight: 600;
			color: lighten($base-colour, 30);
		}
	}
}

article{
	text-align: center;

	table{
		border-collapse: collapse;
		margin: 0 auto 1.5rem auto;
		th,td{
			padding: 0.5rem 1rem;
		}

		th{
			color: $highlight-color;
			border-bottom: 1px solid $highlight-color;
		}

		td{
			border-bottom: 1px solid transparentize($highlight-color, 0.5);
		}
	}
}

//Grid examples css
.grid-examples{
    h1{
        margin-bottom: 0rem;
    }

    .row{
        background-color: transparentize($highlight-color, 0.8);
    }

    .col{
        border: 1px dashed transparentize($highlight-color, 0.2);
        .item{
            background-color: transparentize($highlight-color, 0.6);
            text-align: center;

            span{
                display: inline-block;
                padding: 1rem 0;
            }
        }
    }
	.col--no-border{
		border: none;
	}



    .container .container .col{
        background-color: transparentize($highlight-color, 0.4);
        .item{
            background-color: transparentize($highlight-color, 0.2);
        }
    }
}