<header class="container">
    <div class="row row--no-gutters">
        <div class="col col--xs-full">
            <div class="hero">
                <div class="content-wrap">
                    <div class="content">
                        <h1><strong>Sassy</strong> Grid!</h1>
                        <p>This is a <a target="_blank" href="http://sass-lang.com/"><strong>Sass</strong></a> based grid</p>
                        <a target="_blank" href="https://github.com/huntlyc/Sassy-Grid/" class="btn btn--cta"><i class="fa fa-github"></i> Fork Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row--no-gutters">
        <div class="col col--xs-full">
            <nav>
                <ul>
                    <li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
                    <li><a href="{{ "/grid-examples/" | prepend: site.baseurl }}">Grid Examples</a></li>
                    <li><a target="_blank" href="https://github.com/huntlyc/Sassy-Grid/">Git Hub</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>