@import "https://fonts.googleapis.com/css?family=Open+Sans|Raleway";
/*font-family: 'Open Sans', sans-serif; font-family: 'Raleway', sans-serif; */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: #383838; }

section {
  padding-top: 2rem;
  padding-bottom: 1.5rem; }

section.container--instagram {
  padding-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  color: #ff5252; }

h1 {
  font-size: 2rem;
  text-align: center; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1rem; }

p {
  padding-bottom: 1.5rem; }

img.responsive {
  display: block;
  max-width: 100%;
  height: auto; }

a {
  color: #ff5252;
  text-decoration: none;
  transition: color 0.2s linear; }
  a:hover, a:focus, a:active {
    color: #ffb8b8;
    text-decoration: none; }

.btn {
  display: inline-block;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #ff5252;
  color: #fff;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s linear; }
  .btn:hover, .btn:active, .btn:focus {
    background-color: #eb0000; }

.hero {
  width: 100%;
  min-height: 300px;
  text-align: center; }
  .hero .content-wrap {
    background: url("../img/header.jpg") no-repeat center top;
    background-attachment: fixed;
    background-size: cover; }
    .hero .content-wrap .content {
      padding-top: 100px;
      padding-bottom: 100px;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff; }
      .hero .content-wrap .content h1 {
        margin-top: 0; }

nav {
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5);
  text-align: center; }
  nav ul {
    display: inline-block;
    list-style-type: none;
    text-align: center; }
    nav ul li {
      display: inline-block;
      padding: 0.5rem 1rem; }

article {
  text-align: center; }
  article i.fa {
    padding-top: 2rem;
    font-size: 10rem; }
  article h1 {
    font-size: 1.5rem; }

footer {
  background-color: #ffb8b8;
  padding-top: 2rem;
  padding-bottom: 3rem; }
  footer form {
    text-align: center; }
    footer form del {
      color: #6b6b6b; }
    footer form ins {
      text-decoration: none; }
    footer form input,
    footer form button {
      font-size: 1.5rem;
      padding: 0.5rem; }
    footer form input {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: none;
      outline: none; }
    footer form button {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border: none;
      outline: none;
      background-color: #ff5252;
      color: #fff; }
      footer form button:hover, footer form button:active, footer form button:focus {
        background-color: #eb0000; }

aside {
  background-color: #ff5252;
  color: white;
  font-size: 0.8rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  text-align: center;
  text-transform: uppercase; }

aside a {
  color: #ffb8b8; }

aside a:hover,
aside a:focus,
aside a:active {
  color: #fff; }

/*# sourceMappingURL=example-styles.css.map */
