// Styles used throughout these examples.
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:400,600';
/*font-family: 'Open Sans', sans-serif; font-family: 'Raleway', sans-serif; */

$primary-font: 'Open Sans', sans-serif;
$header-font: 'Raleway', sans-serif;
$base-colour: #383838;
$highlight-color: #ff5252;

*{
	margin: 0;
	padding: 0;
}

html, body { height: 100%; }

strong{
	font-weight: 600;
}

body{
	font-size: 100%;
	font-family: $primary-font;
	line-height: 1.5;
	color: $base-colour;
}

section{
	padding-top: 2rem;
	padding-bottom: 1.5rem;
}

h1,h2,h3,h4,h5,h6{
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-weight: normal;
	font-family: $header-font;
	color: $highlight-color;
}

h1{
	font-size: 2rem;
	text-align: center;
}

h2{	
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-weight: normal;
    font-family: $header-font;
    color: lighten($base-colour, 20);
    font-size: 1.2rem;
    text-align: center;
}

h3{
	font-size: 1.6rem;
}

h4{
	font-size: 1.4rem;
}

h5{
	font-size: 1.2rem;
}

h6{
	font-size: 1rem;
}

p{
	padding-bottom: 1.5rem;
}


img.responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

a{
	color: $highlight-color;
	text-decoration: none;
	transition: color 0.2s linear;

	&:hover,
	&:focus,
	&:active{
		color: lighten($highlight-color, 20);
		text-decoration: none;
	}
}


.btn{
	display: inline-block;
	border: none;
	border-radius: 5px;
	outline: none;
	background-color: $highlight-color;
	color: #fff;
	padding: 0.5rem 1rem;
	transition: background-color 0.2s linear;

	&:hover,
	&:active,
	&:focus{
		color: #fff;
		background-color: darken($highlight-color, 20);
	}

}

.hero{
	width: 100%;
	min-height: 300px;
	text-align: center;


	.content-wrap{
		background: url('../img/header.jpg') no-repeat center top;
		background-attachment: fixed;
		background-size: cover;

		.content{
			padding-top: 100px;
			padding-bottom: 100px;
			background-color: rgba(0, 0, 0, 0.7);
			color: #fff;
			h1{
				margin-top: 0;
				margin-bottom: 1rem;
			}
		}
	}
}

nav{
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5);
	text-align: center;
	ul{
		display: inline-block;
		list-style-type: none;
		text-align: center;
		font-weight: 600;

		li{
			display: inline-block;
			padding: 1.2rem 1rem 1.1rem 1rem;

			a{
				text-transform: uppercase;
				color: $base-colour;

				&:hover,
				&:active,
				&:focus{
					color: lighten($base-colour, 20);					
				}

				// Fancy underline based of: https://codepen.io/VoxelDavid/pen/Afeoh

				&:after{
					content: "";
					display: block;
					width: 100%;
					height: 0;
					padding-bottom: 0.1rem;
					background-color: $highlight-color;
					transform: scaleX(0);
					transition: transform 0.1s linear; 

				}

				&:hover:after,
				&:active:after,
				&:focus:after{
					transform: scaleX(1);
				}
			}
		}
	}
}

footer{
	background-color: $highlight-color;
	color: lighten($highlight-color, 80);
	font-size: 0.8rem;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	text-align: center;
	text-transform: uppercase;
}

footer a{
	color: lighten($highlight-color, 20);
}

footer a:hover,
footer a:focus,
footer a:active{
	color: #fff;
}

footer i.fa{
	color: #bd0a0a;
    position: relative;
    top: 0.1rem;
}