.container,
.row,
.col {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container:before,
.container:after,
.row:before,
.row:after,
.col:before,
.col:after {
  box-sizing: border-box; }

.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.container:after,
.row:after {
  clear: both; }

.container {
  display: block;
  width: 100%;
  margin: 0 auto; }

.container--max-width {
  max-width: 1170px; }

.col,
.row {
  display: block;
  width: 100%; }

.col {
  float: left;
  padding-right: 40px; }

.row {
  padding: 0 0 0 40px; }

.row.row--no-gutters {
  padding: 0; }

.row.row--no-gutters .col {
  padding-right: 0; }

.row > .col--xs-full,
.row > .col--xs-half,
.row > .col--xs-third,
.row > .col--xs-quarter,
.row > .col--xs-fifth,
.row > .col--xs-sixth,
.row > .col--xs-seventh,
.row > .col--xs-eighth {
  padding-right: 40px;
  padding-left: 0; }

.row--double-padded > .col--xs-full,
.row--double-padded > .col--xs-half,
.row--double-padded > .col--xs-third,
.row--double-padded > .col--xs-quarter,
.row--double-padded > .col--xs-fifth,
.row--double-padded > .col--xs-sixth,
.row--double-padded > .col--xs-seventh,
.row--double-padded > .col--xs-eighth {
  padding-left: 20px;
  padding-right: 20px; }

.row--no-gutters > .col--xs-full,
.row--no-gutters > .col--xs-half,
.row--no-gutters > .col--xs-third,
.row--no-gutters > .col--xs-quarter,
.row--no-gutters > .col--xs-fifth,
.row--no-gutters > .col--xs-sixth,
.row--no-gutters > .col--xs-seventh,
.row--no-gutters > .col--xs-eighth {
  padding-left: 0;
  padding-right: 0; }

.row > .col--xs-full {
  width: 100%; }

.row > .col--xs-half {
  width: 50%; }

.row > .col--xs-third {
  width: 33.33333%; }

.row > .col--xs-quarter {
  width: 25%; }

.row > .col--xs-fifth {
  width: 20%; }

.row > .col--xs-sixth {
  width: 16.66667%; }

.row > .col--xs-seventh {
  width: 14.28571%; }

.row > .col--xs-eighth {
  width: 12.5%; }

@media (min-width: 480px) {
  .row > .col--sm-full,
  .row > .col--sm-half,
  .row > .col--sm-third,
  .row > .col--sm-quarter,
  .row > .col--sm-fifth,
  .row > .col--sm-sixth,
  .row > .col--sm-seventh,
  .row > .col--sm-eighth {
    padding-right: 40px;
    padding-left: 0; }

  .row--double-padded > .col--sm-full,
  .row--double-padded > .col--sm-half,
  .row--double-padded > .col--sm-third,
  .row--double-padded > .col--sm-quarter,
  .row--double-padded > .col--sm-fifth,
  .row--double-padded > .col--sm-sixth,
  .row--double-padded > .col--sm-seventh,
  .row--double-padded > .col--sm-eighth {
    padding-left: 20px;
    padding-right: 20px; }

  .row--no-gutters > .col--sm-full,
  .row--no-gutters > .col--sm-half,
  .row--no-gutters > .col--sm-third,
  .row--no-gutters > .col--sm-quarter,
  .row--no-gutters > .col--sm-fifth,
  .row--no-gutters > .col--sm-sixth,
  .row--no-gutters > .col--sm-seventh,
  .row--no-gutters > .col--sm-eighth {
    padding-left: 0;
    padding-right: 0; }

  .row > .col--sm-full {
    width: 100%; }

  .row > .col--sm-half {
    width: 50%; }

  .row > .col--sm-third {
    width: 33.33333%; }

  .row > .col--sm-quarter {
    width: 25%; }

  .row > .col--sm-fifth {
    width: 20%; }

  .row > .col--sm-sixth {
    width: 16.66667%; }

  .row > .col--sm-seventh {
    width: 14.28571%; }

  .row > .col--sm-eighth {
    width: 12.5%; }

  .hiden-sm {
    display: none; }

  .visible-xs,
  .visible-sm,
  .visible-md,
  .visible-lg,
  .visible-xl {
    display: none !important; }

  .visible-sm {
    display: block !important; } }
@media (min-width: 768px) {
  .row > .col--md-full,
  .row > .col--md-half,
  .row > .col--md-third,
  .row > .col--md-quarter,
  .row > .col--md-fifth,
  .row > .col--md-sixth,
  .row > .col--md-seventh,
  .row > .col--md-eighth {
    padding-right: 40px;
    padding-left: 0; }

  .row--double-padded > .col--md-full,
  .row--double-padded > .col--md-half,
  .row--double-padded > .col--md-third,
  .row--double-padded > .col--md-quarter,
  .row--double-padded > .col--md-fifth,
  .row--double-padded > .col--md-sixth,
  .row--double-padded > .col--md-seventh,
  .row--double-padded > .col--md-eighth {
    padding-left: 20px;
    padding-right: 20px; }

  .row--no-gutters > .col--md-full,
  .row--no-gutters > .col--md-half,
  .row--no-gutters > .col--md-third,
  .row--no-gutters > .col--md-quarter,
  .row--no-gutters > .col--md-fifth,
  .row--no-gutters > .col--md-sixth,
  .row--no-gutters > .col--md-seventh,
  .row--no-gutters > .col--md-eighth {
    padding-left: 0;
    padding-right: 0; }

  .row > .col--md-full {
    width: 100%; }

  .row > .col--md-half {
    width: 50%; }

  .row > .col--md-third {
    width: 33.33333%; }

  .row > .col--md-quarter {
    width: 25%; }

  .row > .col--md-fifth {
    width: 20%; }

  .row > .col--md-sixth {
    width: 16.66667%; }

  .row > .col--md-seventh {
    width: 14.28571%; }

  .row > .col--md-eighth {
    width: 12.5%; }

  .hiden-md {
    display: none; }

  .visible-xs,
  .visible-sm,
  .visible-md,
  .visible-lg,
  .visible-xl {
    display: none !important; }

  .visible-md {
    display: block !important; } }
@media (min-width: 980px) {
  .row > .col--lg-full,
  .row > .col--lg-half,
  .row > .col--lg-third,
  .row > .col--lg-quarter,
  .row > .col--lg-fifth,
  .row > .col--lg-sixth,
  .row > .col--lg-seventh,
  .row > .col--lg-eighth {
    padding-right: 40px;
    padding-left: 0; }

  .row--double-padded > .col--lg-full,
  .row--double-padded > .col--lg-half,
  .row--double-padded > .col--lg-third,
  .row--double-padded > .col--lg-quarter,
  .row--double-padded > .col--lg-fifth,
  .row--double-padded > .col--lg-sixth,
  .row--double-padded > .col--lg-seventh,
  .row--double-padded > .col--lg-eighth {
    padding-left: 20px;
    padding-right: 20px; }

  .row--no-gutters > .col--lg-full,
  .row--no-gutters > .col--lg-half,
  .row--no-gutters > .col--lg-third,
  .row--no-gutters > .col--lg-quarter,
  .row--no-gutters > .col--lg-fifth,
  .row--no-gutters > .col--lg-sixth,
  .row--no-gutters > .col--lg-seventh,
  .row--no-gutters > .col--lg-eighth {
    padding-left: 0;
    padding-right: 0; }

  .row > .col--lg-full {
    width: 100%; }

  .row > .col--lg-half {
    width: 50%; }

  .row > .col--lg-third {
    width: 33.33333%; }

  .row > .col--lg-quarter {
    width: 25%; }

  .row > .col--lg-fifth {
    width: 20%; }

  .row > .col--lg-sixth {
    width: 16.66667%; }

  .row > .col--lg-seventh {
    width: 14.28571%; }

  .row > .col--lg-eighth {
    width: 12.5%; }

  .hiden-lg {
    display: none; }

  .visible-xs,
  .visible-sm,
  .visible-md,
  .visible-lg,
  .visible-xl {
    display: none !important; }

  .visible-lg {
    display: block !important; } }
@media (min-width: 1024px) {
  .row > .col--xl-full,
  .row > .col--xl-half,
  .row > .col--xl-third,
  .row > .col--xl-quarter,
  .row > .col--xl-fifth,
  .row > .col--xl-sixth,
  .row > .col--xl-seventh,
  .row > .col--xl-eighth {
    padding-right: 40px;
    padding-left: 0; }

  .row--double-padded > .col--xl-full,
  .row--double-padded > .col--xl-half,
  .row--double-padded > .col--xl-third,
  .row--double-padded > .col--xl-quarter,
  .row--double-padded > .col--xl-fifth,
  .row--double-padded > .col--xl-sixth,
  .row--double-padded > .col--xl-seventh,
  .row--double-padded > .col--xl-eighth {
    padding-left: 20px;
    padding-right: 20px; }

  .row--no-gutters > .col--xl-full,
  .row--no-gutters > .col--xl-half,
  .row--no-gutters > .col--xl-third,
  .row--no-gutters > .col--xl-quarter,
  .row--no-gutters > .col--xl-fifth,
  .row--no-gutters > .col--xl-sixth,
  .row--no-gutters > .col--xl-seventh,
  .row--no-gutters > .col--xl-eighth {
    padding-left: 0;
    padding-right: 0; }

  .row > .col--xl-full {
    width: 100%; }

  .row > .col--xl-half {
    width: 50%; }

  .row > .col--xl-third {
    width: 33.33333%; }

  .row > .col--xl-quarter {
    width: 25%; }

  .row > .col--xl-fifth {
    width: 20%; }

  .row > .col--xl-sixth {
    width: 16.66667%; }

  .row > .col--xl-seventh {
    width: 14.28571%; }

  .row > .col--xl-eighth {
    width: 12.5%; }

  .hiden-xl {
    display: none; }

  .visible-xs,
  .visible-sm,
  .visible-md,
  .visible-lg,
  .visible-xl {
    display: none !important; }

  .visible-xl {
    display: block !important; } }

/*# sourceMappingURL=sassy-grid.css.map */
