.container,
.row,
.col {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container:before,
.container:after,
.row:before,
.row:after,
.col:before,
.col:after {
  box-sizing: border-box; }

.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.container:after,
.row:after {
  clear: both; }

.container {
  display: block;
  width: 100%;
  margin: 0 auto; }

.container--max-width {
  max-width: 1170px; }

.col,
.row {
  display: block;
  width: 100%; }

.col {
  float: left;
  padding-right: 40px; }

.row {
  padding: 0 0 0 40px; }

.row.row--double-padded,
.row.row--no-gutters {
  padding: 0; }

.row.row--no-gutters .col {
  padding-right: 0; }

.row > .col {
  padding-right: 40px;
  padding-left: 0; }

.row--double-padded > .col {
  padding-left: 20px;
  padding-right: 20px; }

.row--no-gutters > .col {
  padding-left: 0;
  padding-right: 0; }

.col--xs-1-1 {
  width: 100%; }

.col--xs-1-2 {
  width: 50%; }

.col--xs-2-2 {
  width: 100%; }

.col--xs-1-3 {
  width: 33.33333%; }

.col--xs-2-3 {
  width: 66.66667%; }

.col--xs-3-3 {
  width: 100%; }

.col--xs-1-4 {
  width: 25%; }

.col--xs-2-4 {
  width: 50%; }

.col--xs-3-4 {
  width: 75%; }

.col--xs-4-4 {
  width: 100%; }

.col--xs-1-5 {
  width: 20%; }

.col--xs-2-5 {
  width: 40%; }

.col--xs-3-5 {
  width: 60%; }

.col--xs-4-5 {
  width: 80%; }

.col--xs-5-5 {
  width: 100%; }

.col--xs-1-6 {
  width: 16.66667%; }

.col--xs-2-6 {
  width: 33.33333%; }

.col--xs-3-6 {
  width: 50%; }

.col--xs-4-6 {
  width: 66.66667%; }

.col--xs-5-6 {
  width: 83.33333%; }

.col--xs-6-6 {
  width: 100%; }

.col--xs-1-7 {
  width: 14.28571%; }

.col--xs-2-7 {
  width: 28.57143%; }

.col--xs-3-7 {
  width: 42.85714%; }

.col--xs-4-7 {
  width: 57.14286%; }

.col--xs-5-7 {
  width: 71.42857%; }

.col--xs-6-7 {
  width: 85.71429%; }

.col--xs-7-7 {
  width: 100%; }

.col--xs-1-8 {
  width: 12.5%; }

.col--xs-2-8 {
  width: 25%; }

.col--xs-3-8 {
  width: 37.5%; }

.col--xs-4-8 {
  width: 50%; }

.col--xs-5-8 {
  width: 62.5%; }

.col--xs-6-8 {
  width: 75%; }

.col--xs-7-8 {
  width: 87.5%; }

.col--xs-8-8 {
  width: 100%; }

@media (max-width: 480px) {
  .hidden-xs {
    display: none; } }

@media (min-width: 480px) {
  .col--sm-1-1 {
    width: 100%; }
  .col--sm-1-2 {
    width: 50%; }
  .col--sm-2-2 {
    width: 100%; }
  .col--sm-1-3 {
    width: 33.33333%; }
  .col--sm-2-3 {
    width: 66.66667%; }
  .col--sm-3-3 {
    width: 100%; }
  .col--sm-1-4 {
    width: 25%; }
  .col--sm-2-4 {
    width: 50%; }
  .col--sm-3-4 {
    width: 75%; }
  .col--sm-4-4 {
    width: 100%; }
  .col--sm-1-5 {
    width: 20%; }
  .col--sm-2-5 {
    width: 40%; }
  .col--sm-3-5 {
    width: 60%; }
  .col--sm-4-5 {
    width: 80%; }
  .col--sm-5-5 {
    width: 100%; }
  .col--sm-1-6 {
    width: 16.66667%; }
  .col--sm-2-6 {
    width: 33.33333%; }
  .col--sm-3-6 {
    width: 50%; }
  .col--sm-4-6 {
    width: 66.66667%; }
  .col--sm-5-6 {
    width: 83.33333%; }
  .col--sm-6-6 {
    width: 100%; }
  .col--sm-1-7 {
    width: 14.28571%; }
  .col--sm-2-7 {
    width: 28.57143%; }
  .col--sm-3-7 {
    width: 42.85714%; }
  .col--sm-4-7 {
    width: 57.14286%; }
  .col--sm-5-7 {
    width: 71.42857%; }
  .col--sm-6-7 {
    width: 85.71429%; }
  .col--sm-7-7 {
    width: 100%; }
  .col--sm-1-8 {
    width: 12.5%; }
  .col--sm-2-8 {
    width: 25%; }
  .col--sm-3-8 {
    width: 37.5%; }
  .col--sm-4-8 {
    width: 50%; }
  .col--sm-5-8 {
    width: 62.5%; }
  .col--sm-6-8 {
    width: 75%; }
  .col--sm-7-8 {
    width: 87.5%; }
  .col--sm-8-8 {
    width: 100%; }
  .hidden-sm {
    display: none; }
  .visible-xs,
  .visible-sm,
  .visible-md,
  .visible-lg,
  .visible-xl {
    display: none !important; }
  .visible-sm {
    display: block !important; } }

@media (min-width: 768px) {
  .col--md-1-1 {
    width: 100%; }
  .col--md-1-2 {
    width: 50%; }
  .col--md-2-2 {
    width: 100%; }
  .col--md-1-3 {
    width: 33.33333%; }
  .col--md-2-3 {
    width: 66.66667%; }
  .col--md-3-3 {
    width: 100%; }
  .col--md-1-4 {
    width: 25%; }
  .col--md-2-4 {
    width: 50%; }
  .col--md-3-4 {
    width: 75%; }
  .col--md-4-4 {
    width: 100%; }
  .col--md-1-5 {
    width: 20%; }
  .col--md-2-5 {
    width: 40%; }
  .col--md-3-5 {
    width: 60%; }
  .col--md-4-5 {
    width: 80%; }
  .col--md-5-5 {
    width: 100%; }
  .col--md-1-6 {
    width: 16.66667%; }
  .col--md-2-6 {
    width: 33.33333%; }
  .col--md-3-6 {
    width: 50%; }
  .col--md-4-6 {
    width: 66.66667%; }
  .col--md-5-6 {
    width: 83.33333%; }
  .col--md-6-6 {
    width: 100%; }
  .col--md-1-7 {
    width: 14.28571%; }
  .col--md-2-7 {
    width: 28.57143%; }
  .col--md-3-7 {
    width: 42.85714%; }
  .col--md-4-7 {
    width: 57.14286%; }
  .col--md-5-7 {
    width: 71.42857%; }
  .col--md-6-7 {
    width: 85.71429%; }
  .col--md-7-7 {
    width: 100%; }
  .col--md-1-8 {
    width: 12.5%; }
  .col--md-2-8 {
    width: 25%; }
  .col--md-3-8 {
    width: 37.5%; }
  .col--md-4-8 {
    width: 50%; }
  .col--md-5-8 {
    width: 62.5%; }
  .col--md-6-8 {
    width: 75%; }
  .col--md-7-8 {
    width: 87.5%; }
  .col--md-8-8 {
    width: 100%; }
  .hidden-md {
    display: none; }
  .visible-xs,
  .visible-sm,
  .visible-md,
  .visible-lg,
  .visible-xl {
    display: none !important; }
  .visible-md {
    display: block !important; } }

@media (min-width: 980px) {
  .col--lg-1-1 {
    width: 100%; }
  .col--lg-1-2 {
    width: 50%; }
  .col--lg-2-2 {
    width: 100%; }
  .col--lg-1-3 {
    width: 33.33333%; }
  .col--lg-2-3 {
    width: 66.66667%; }
  .col--lg-3-3 {
    width: 100%; }
  .col--lg-1-4 {
    width: 25%; }
  .col--lg-2-4 {
    width: 50%; }
  .col--lg-3-4 {
    width: 75%; }
  .col--lg-4-4 {
    width: 100%; }
  .col--lg-1-5 {
    width: 20%; }
  .col--lg-2-5 {
    width: 40%; }
  .col--lg-3-5 {
    width: 60%; }
  .col--lg-4-5 {
    width: 80%; }
  .col--lg-5-5 {
    width: 100%; }
  .col--lg-1-6 {
    width: 16.66667%; }
  .col--lg-2-6 {
    width: 33.33333%; }
  .col--lg-3-6 {
    width: 50%; }
  .col--lg-4-6 {
    width: 66.66667%; }
  .col--lg-5-6 {
    width: 83.33333%; }
  .col--lg-6-6 {
    width: 100%; }
  .col--lg-1-7 {
    width: 14.28571%; }
  .col--lg-2-7 {
    width: 28.57143%; }
  .col--lg-3-7 {
    width: 42.85714%; }
  .col--lg-4-7 {
    width: 57.14286%; }
  .col--lg-5-7 {
    width: 71.42857%; }
  .col--lg-6-7 {
    width: 85.71429%; }
  .col--lg-7-7 {
    width: 100%; }
  .col--lg-1-8 {
    width: 12.5%; }
  .col--lg-2-8 {
    width: 25%; }
  .col--lg-3-8 {
    width: 37.5%; }
  .col--lg-4-8 {
    width: 50%; }
  .col--lg-5-8 {
    width: 62.5%; }
  .col--lg-6-8 {
    width: 75%; }
  .col--lg-7-8 {
    width: 87.5%; }
  .col--lg-8-8 {
    width: 100%; }
  .hidden-lg {
    display: none; }
  .visible-xs,
  .visible-sm,
  .visible-md,
  .visible-lg,
  .visible-xl {
    display: none !important; }
  .visible-lg {
    display: block !important; } }

@media (min-width: 1024px) {
  .col--xl-1-1 {
    width: 100%; }
  .col--xl-1-2 {
    width: 50%; }
  .col--xl-2-2 {
    width: 100%; }
  .col--xl-1-3 {
    width: 33.33333%; }
  .col--xl-2-3 {
    width: 66.66667%; }
  .col--xl-3-3 {
    width: 100%; }
  .col--xl-1-4 {
    width: 25%; }
  .col--xl-2-4 {
    width: 50%; }
  .col--xl-3-4 {
    width: 75%; }
  .col--xl-4-4 {
    width: 100%; }
  .col--xl-1-5 {
    width: 20%; }
  .col--xl-2-5 {
    width: 40%; }
  .col--xl-3-5 {
    width: 60%; }
  .col--xl-4-5 {
    width: 80%; }
  .col--xl-5-5 {
    width: 100%; }
  .col--xl-1-6 {
    width: 16.66667%; }
  .col--xl-2-6 {
    width: 33.33333%; }
  .col--xl-3-6 {
    width: 50%; }
  .col--xl-4-6 {
    width: 66.66667%; }
  .col--xl-5-6 {
    width: 83.33333%; }
  .col--xl-6-6 {
    width: 100%; }
  .col--xl-1-7 {
    width: 14.28571%; }
  .col--xl-2-7 {
    width: 28.57143%; }
  .col--xl-3-7 {
    width: 42.85714%; }
  .col--xl-4-7 {
    width: 57.14286%; }
  .col--xl-5-7 {
    width: 71.42857%; }
  .col--xl-6-7 {
    width: 85.71429%; }
  .col--xl-7-7 {
    width: 100%; }
  .col--xl-1-8 {
    width: 12.5%; }
  .col--xl-2-8 {
    width: 25%; }
  .col--xl-3-8 {
    width: 37.5%; }
  .col--xl-4-8 {
    width: 50%; }
  .col--xl-5-8 {
    width: 62.5%; }
  .col--xl-6-8 {
    width: 75%; }
  .col--xl-7-8 {
    width: 87.5%; }
  .col--xl-8-8 {
    width: 100%; }
  .hidden-xl {
    display: none; }
  .visible-xs,
  .visible-sm,
  .visible-md,
  .visible-lg,
  .visible-xl {
    display: none !important; }
  .visible-xl {
    display: block !important; } }
