// Grid Vars
$gutter: 40px;
$max-width: 1170px;
$minMaxWidth: min-width;

$breakpoints: (
    xs: 480,
    sm: 480,
    md: 768,
    lg: 980,
    xl: 1024,
);


// resets
* {
	margin: 0;
	padding: 0;
  	box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.container:after,
.row:after {
  clear: both;
}

.container{
	display: block;
	width: 100%;
	margin: 0 auto;
}

.container--max-width{
	max-width: $max-width;
}

.col,
.row{
	width: 100%;
}


@each $screensize, $cuttoff in $breakpoints{

    @if $screensize == "xs" {
        $minMaxWidth: 'max-width';
    } @else  {
        $minMaxWidth: 'min-width';
    }

    @media ($minMaxWidth: $cuttoff){
    	.row > .col--#{$screensize}-half,
    	.row > .col--#{$screensize}-third,
    	.row > .col--#{$screensize}-quarter{
    		float: left;
    		padding-left: $gutter;
    		padding-right: 0;
    	}

        .row > .col--#{$screensize}-half:first-child,
        .row > .col--#{$screensize}-third:first-child,
        .row > .col--#{$screensize}-quarter:first-child{
            padding-left: 0
        }

        .row--double-padded > .col--#{$screensize}-full,
    	.row--double-padded > .col--#{$screensize}-half,
    	.row--double-padded > .col--#{$screensize}-third,
    	.row--double-padded > .col--#{$screensize}-quarter{
    		padding-left: $gutter / 2;
    		padding-right: $gutter / 2
    	}

        .row--double-padded > .col--#{$screensize}-full:first-child,
        .row--double-padded > .col--#{$screensize}-half:first-child,
        .row--double-padded > .col--#{$screensize}-third:first-child,
        .row--double-padded > .col--#{$screensize}-quarter:first-child{
            padding-left: $gutter / 2;
        }

    	.row > .col--#{$screensize}-full{
    		width: 100%;
    	}

    	.row > .col--#{$screensize}-half{
    		width: 1/2 * 100%;
    	}

    	.row > .col--#{$screensize}-third{
    		width: 1/3 * 100%;
    	}

    	.row > .col--#{$screensize}-quarter{
    		width: 1/4 * 100%;
    	}
    }
}