.container,
.row,
.col {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container:before,
.container:after,
.row:before,
.row:after,
.col:before,
.col:after {
  box-sizing: border-box; }

.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.container:after,
.row:after {
  clear: both; }

.container {
  display: block;
  width: 100%;
  margin: 0 auto; }

.container--max-width {
  max-width: 1170px; }

.col,
.row {
  display: block;
  width: 100%; }

.col {
  float: left;
  padding-right: 40px; }

.row {
  padding: 0 0 0 40px; }

.row.row--no-gutters {
  padding: 0; }

.row.row--no-gutters .col {
  padding-right: 0; }

.row > .col--xs-1-1,
.row > .col--xs-1-2,
.row > .col--xs-1-3,
.row > .col--xs-1-4,
.row > .col--xs-1-5,
.row > .col--xs-1-6,
.row > .col--xs-1-7,
.row > .col--xs-1-8 {
  padding-right: 40px;
  padding-left: 0; }

.row--double-padded > .col--xs-1-1,
.row--double-padded > .col--xs-1-2,
.row--double-padded > .col--xs-1-3,
.row--double-padded > .col--xs-1-4,
.row--double-padded > .col--xs-1-5,
.row--double-padded > .col--xs-1-6,
.row--double-padded > .col--xs-1-7,
.row--double-padded > .col--xs-1-8 {
  padding-left: 20px;
  padding-right: 20px; }

.row--no-gutters > .col--xs-1-1,
.row--no-gutters > .col--xs-1-2,
.row--no-gutters > .col--xs-1-3,
.row--no-gutters > .col--xs-1-4,
.row--no-gutters > .col--xs-1-5,
.row--no-gutters > .col--xs-1-6,
.row--no-gutters > .col--xs-1-7,
.row--no-gutters > .col--xs-1-8 {
  padding-left: 0;
  padding-right: 0; }

.row > .col--xs-1-1 {
  width: 100%; }

.row > .col--xs-1-2 {
  width: 50%; }

.row > .col--xs-1-3 {
  width: 33.33333%; }

.row > .col--xs-1-4 {
  width: 25%; }

.row > .col--xs-1-5 {
  width: 20%; }

.row > .col--xs-1-6 {
  width: 16.66667%; }

.row > .col--xs-1-7 {
  width: 14.28571%; }

.row > .col--xs-1-8 {
  width: 12.5%; }

@media (min-width: 480px) {
  .row > .col--sm-1-1,
  .row > .col--sm-1-2,
  .row > .col--sm-1-3,
  .row > .col--sm-1-4,
  .row > .col--sm-1-5,
  .row > .col--sm-1-6,
  .row > .col--sm-1-7,
  .row > .col--sm-1-8 {
    padding-right: 40px;
    padding-left: 0; }

  .row--double-padded > .col--sm-1-1,
  .row--double-padded > .col--sm-1-2,
  .row--double-padded > .col--sm-1-3,
  .row--double-padded > .col--sm-1-4,
  .row--double-padded > .col--sm-1-5,
  .row--double-padded > .col--sm-1-6,
  .row--double-padded > .col--sm-1-7,
  .row--double-padded > .col--sm-1-8 {
    padding-left: 20px;
    padding-right: 20px; }

  .row--no-gutters > .col--sm-1-1,
  .row--no-gutters > .col--sm-1-2,
  .row--no-gutters > .col--sm-1-3,
  .row--no-gutters > .col--sm-1-4,
  .row--no-gutters > .col--sm-1-5,
  .row--no-gutters > .col--sm-1-6,
  .row--no-gutters > .col--sm-1-7,
  .row--no-gutters > .col--sm-1-8 {
    padding-left: 0;
    padding-right: 0; }

  .row > .col--sm-1-1 {
    width: 100%; }

  .row > .col--sm-1-2 {
    width: 50%; }

  .row > .col--sm-1-3 {
    width: 33.33333%; }

  .row > .col--sm-1-4 {
    width: 25%; }

  .row > .col--sm-1-5 {
    width: 20%; }

  .row > .col--sm-1-6 {
    width: 16.66667%; }

  .row > .col--sm-1-7 {
    width: 14.28571%; }

  .row > .col--sm-1-8 {
    width: 12.5%; }

  .hiden-sm {
    display: none; }

  .visible-xs,
  .visible-sm,
  .visible-md,
  .visible-lg,
  .visible-xl {
    display: none !important; }

  .visible-sm {
    display: block !important; } }
@media (min-width: 768px) {
  .row > .col--md-1-1,
  .row > .col--md-1-2,
  .row > .col--md-1-3,
  .row > .col--md-1-4,
  .row > .col--md-1-5,
  .row > .col--md-1-6,
  .row > .col--md-1-7,
  .row > .col--md-1-8 {
    padding-right: 40px;
    padding-left: 0; }

  .row--double-padded > .col--md-1-1,
  .row--double-padded > .col--md-1-2,
  .row--double-padded > .col--md-1-3,
  .row--double-padded > .col--md-1-4,
  .row--double-padded > .col--md-1-5,
  .row--double-padded > .col--md-1-6,
  .row--double-padded > .col--md-1-7,
  .row--double-padded > .col--md-1-8 {
    padding-left: 20px;
    padding-right: 20px; }

  .row--no-gutters > .col--md-1-1,
  .row--no-gutters > .col--md-1-2,
  .row--no-gutters > .col--md-1-3,
  .row--no-gutters > .col--md-1-4,
  .row--no-gutters > .col--md-1-5,
  .row--no-gutters > .col--md-1-6,
  .row--no-gutters > .col--md-1-7,
  .row--no-gutters > .col--md-1-8 {
    padding-left: 0;
    padding-right: 0; }

  .row > .col--md-1-1 {
    width: 100%; }

  .row > .col--md-1-2 {
    width: 50%; }

  .row > .col--md-1-3 {
    width: 33.33333%; }

  .row > .col--md-1-4 {
    width: 25%; }

  .row > .col--md-1-5 {
    width: 20%; }

  .row > .col--md-1-6 {
    width: 16.66667%; }

  .row > .col--md-1-7 {
    width: 14.28571%; }

  .row > .col--md-1-8 {
    width: 12.5%; }

  .hiden-md {
    display: none; }

  .visible-xs,
  .visible-sm,
  .visible-md,
  .visible-lg,
  .visible-xl {
    display: none !important; }

  .visible-md {
    display: block !important; } }
@media (min-width: 980px) {
  .row > .col--lg-1-1,
  .row > .col--lg-1-2,
  .row > .col--lg-1-3,
  .row > .col--lg-1-4,
  .row > .col--lg-1-5,
  .row > .col--lg-1-6,
  .row > .col--lg-1-7,
  .row > .col--lg-1-8 {
    padding-right: 40px;
    padding-left: 0; }

  .row--double-padded > .col--lg-1-1,
  .row--double-padded > .col--lg-1-2,
  .row--double-padded > .col--lg-1-3,
  .row--double-padded > .col--lg-1-4,
  .row--double-padded > .col--lg-1-5,
  .row--double-padded > .col--lg-1-6,
  .row--double-padded > .col--lg-1-7,
  .row--double-padded > .col--lg-1-8 {
    padding-left: 20px;
    padding-right: 20px; }

  .row--no-gutters > .col--lg-1-1,
  .row--no-gutters > .col--lg-1-2,
  .row--no-gutters > .col--lg-1-3,
  .row--no-gutters > .col--lg-1-4,
  .row--no-gutters > .col--lg-1-5,
  .row--no-gutters > .col--lg-1-6,
  .row--no-gutters > .col--lg-1-7,
  .row--no-gutters > .col--lg-1-8 {
    padding-left: 0;
    padding-right: 0; }

  .row > .col--lg-1-1 {
    width: 100%; }

  .row > .col--lg-1-2 {
    width: 50%; }

  .row > .col--lg-1-3 {
    width: 33.33333%; }

  .row > .col--lg-1-4 {
    width: 25%; }

  .row > .col--lg-1-5 {
    width: 20%; }

  .row > .col--lg-1-6 {
    width: 16.66667%; }

  .row > .col--lg-1-7 {
    width: 14.28571%; }

  .row > .col--lg-1-8 {
    width: 12.5%; }

  .hiden-lg {
    display: none; }

  .visible-xs,
  .visible-sm,
  .visible-md,
  .visible-lg,
  .visible-xl {
    display: none !important; }

  .visible-lg {
    display: block !important; } }
@media (min-width: 1024px) {
  .row > .col--xl-1-1,
  .row > .col--xl-1-2,
  .row > .col--xl-1-3,
  .row > .col--xl-1-4,
  .row > .col--xl-1-5,
  .row > .col--xl-1-6,
  .row > .col--xl-1-7,
  .row > .col--xl-1-8 {
    padding-right: 40px;
    padding-left: 0; }

  .row--double-padded > .col--xl-1-1,
  .row--double-padded > .col--xl-1-2,
  .row--double-padded > .col--xl-1-3,
  .row--double-padded > .col--xl-1-4,
  .row--double-padded > .col--xl-1-5,
  .row--double-padded > .col--xl-1-6,
  .row--double-padded > .col--xl-1-7,
  .row--double-padded > .col--xl-1-8 {
    padding-left: 20px;
    padding-right: 20px; }

  .row--no-gutters > .col--xl-1-1,
  .row--no-gutters > .col--xl-1-2,
  .row--no-gutters > .col--xl-1-3,
  .row--no-gutters > .col--xl-1-4,
  .row--no-gutters > .col--xl-1-5,
  .row--no-gutters > .col--xl-1-6,
  .row--no-gutters > .col--xl-1-7,
  .row--no-gutters > .col--xl-1-8 {
    padding-left: 0;
    padding-right: 0; }

  .row > .col--xl-1-1 {
    width: 100%; }

  .row > .col--xl-1-2 {
    width: 50%; }

  .row > .col--xl-1-3 {
    width: 33.33333%; }

  .row > .col--xl-1-4 {
    width: 25%; }

  .row > .col--xl-1-5 {
    width: 20%; }

  .row > .col--xl-1-6 {
    width: 16.66667%; }

  .row > .col--xl-1-7 {
    width: 14.28571%; }

  .row > .col--xl-1-8 {
    width: 12.5%; }

  .hiden-xl {
    display: none; }

  .visible-xs,
  .visible-sm,
  .visible-md,
  .visible-lg,
  .visible-xl {
    display: none !important; }

  .visible-xl {
    display: block !important; } }

/*# sourceMappingURL=sassy-grid.css.map */
